
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Payment Successful</h2>
<hr />
<p>Thank you for your purchase. Your order will be shipped as soon as possible.
<br /><br />
You will receive an email once your order has been shipped.</p>



